@using Herramientas
@using Microsoft.AspNetCore.Components.Web;
@using Listados

<div style="background-color: var(--fondoEntrada); padding: 50px;">
	
	<div style="margin-bottom: 40px;">
		<span style="color: var(--colorTexto);">@Idiomas.CogerCadena(idioma, "Index.Presentation")</span>
	</div>

	<div style="display: flex; align-items: center; margin-bottom: 10px;">
		<div style="margin-right: 20px;">
			<button @onclick="@(e => CambiarProyectos(e))" style="background-color: transparent; border: 0px; padding: 10px; height: 44px;">
				<div style="display: flex; align-items: center; width: 100%; height: 100%;">
					<span style="color: var(--colorTexto);">@Idiomas.CogerCadena(idioma, "Index.All")</span>
				</div>
			</button>

			@if (tecnologiaSeleccionada == "Todos")
			{
				<div style="background: var(--colorEnlace); padding: 1px;">
				</div>
			}
		</div>

		@foreach (var tecnologia in tecnologias)
		{
			<div style="margin-right: 20px;">
				<button @onclick="@(e => CambiarProyectos(e, tecnologia.Id))" style="background-color: transparent; border: 0px; padding: 10px; height: 44px;">
					@if (tecnologia.MostrarNombre == false)
					{
						<div style="display: flex; align-items: center; width: 100%; height: 100%;">
							<img src="/imagenes/tecnologias/@tecnologia.Imagen" style="max-height: 20px; object-fit: contain;" />
						</div>						
					}
					else
					{
						<div style="display: flex; align-items: center; width: 100%; height: 100%;">
							<img src="/imagenes/tecnologias/@tecnologia.Imagen" style="max-height: 20px; object-fit: contain;" />
							<span style="color: var(--colorTexto); margin-left: 10px;">@tecnologia.Nombre</span>
						</div>
					}
				</button>

				@if (tecnologiaSeleccionada == tecnologia.Id.ToString())
				{
					<div style="background: var(--colorEnlace); padding: 1px;">
					</div>
				}
			</div>
		}
	</div>

	@foreach (var proyecto in proyectos)
	{
		if (proyecto.MostrarPortada == true)
		{
			<div class="expandir" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
				<a href="@proyecto.Ubicacion" style="text-decoration: none; color: var(--colorTexto);">
					<div style="display: flex; align-items: center; border: 1px solid var(--colorEnlace); background-color: @proyecto.Color1;">
						<img src="/imagenes/@proyecto.Id/logo.webp" style="width: 100px; height: 100px;" />

						<div style="padding: 20px 30px;">
							<div style="font-size: 19px;">@proyecto.Nombre</div>
							<div style="margin-top: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String1")</div>
						</div>
					</div>
				</a>
			</div>
		}
	}
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private List<Tecnologia> tecnologias = new List<Tecnologia>();
	private List<Proyecto> proyectos = new List<Proyecto>();

	private string tecnologiaSeleccionada = string.Empty;

	protected override void OnInitialized()
	{
		tecnologiaSeleccionada = "Todos";
		tecnologias = Listados.Tecnologias.Generar();
		proyectos = Listados.Proyectos.Generar(true);
	}

	private void CambiarProyectos(MouseEventArgs e)
	{
		tecnologiaSeleccionada = "Todos";
		proyectos = Listados.Proyectos.Generar();
	}

	private void CambiarProyectos(MouseEventArgs e, TecnologiaTipo tipo)
	{
		tecnologiaSeleccionada = tipo.ToString();
		proyectos = Listados.Proyectos.DevolverProyectos(tipo);
	}
}
