@using BaseDatos
@using Listados
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.Data.SqlClient

<style>
	.boton-github {
		transition: transform .5s;
	}

		.boton-github:hover {
			transform: scale(1.01);
		}
</style>

<!-- #region Cabecera -->
@{
	string descripcion = Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String1");
	string titulo = proyecto.Nombre + " • " + descripcion;
	string enlace = "https://pepeizqapps.com" + proyecto.Ubicacion;
	string icono = "https://pepeizqapps.com/imagenes/" + proyecto.Id + "/logo.webp";
}

<Seo idioma="@idioma" titulo="@titulo" descripcion="@descripcion" enlace="@enlace" icono="@icono" />

<!-- #endregion -->

<div style="background-color: @proyecto.Color1; display: flex; align-items: center; background-size: cover; background-image: linear-gradient(to right, @proyecto.Color1 50%, transparent), url('/imagenes/@proyecto.Id/captura2.webp');">
	@if (string.IsNullOrEmpty(proyecto.Enlace) == false)
	{
		<a href="@proyecto.Enlace" target="_blank">
			<img src="/imagenes/@proyecto.Id/logo.webp" style="width: 140px; height: 140px; border: 1px solid var(--colorEnlace);" />
		</a>
	}
	else
	{
		<img src="/imagenes/@proyecto.Id/logo.webp" style="width: 140px; height: 140px;" />
	}

	<div style="padding: 20px 30px;">
		<div style="font-size: 22px;">@proyecto.Nombre</div>
		<div style="margin-top: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String1")</div>

		@if (string.IsNullOrEmpty(proyecto.Enlace) == false)
		{
			<div style="margin-top: 10px;"><a href="@proyecto.Enlace" target="_blank" style="text-decoration: none; ">@proyecto.Enlace</a></div>
		}
	</div>
</div>

<div style="background-color: @proyecto.Color2; overflow: hidden;">
	<a href="https://github.com/pepeizq/@proyecto.Github" target="_blank" style="text-decoration: none;">
		<div class="boton-github" style="background-color: #24292e; color: var(--colorTexto); display: flex; align-items: center; padding: 15px 25px;" title="@Herramientas.Idiomas.CogerCadena(idioma, "Github.String7")">
			<i class="fa-brands fa-github" style="font-size: 24px;"></i>

			<div style="width: 100%; padding-left: 20px; padding-right: 20px; font-size: 15px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "Github.String1")
			</div>

			<div style="width: 100px; text-align: right;">
				<i class="fa-solid fa-star"></i> @github.Estrellas

				<i class="fa-solid fa-code-fork" style="padding-left: 15px;"></i> @github.Forks
			</div>
		</div>
	</a>
</div>

@if (intro == true)
{
	<div style="background-color: @proyecto.Color1; padding: 50px;">
		<div>
			@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String2")
		</div>

		<div style="margin-top: 20px;">
			@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String3")
		</div>
	</div>
}

@if (modulos != null)
{
	int i = 0;

	foreach (var modulo in modulos)
	{
		string fondo = "background-color: " + proyecto.Color2;

		i += 1;

		if (i == 2)
		{
			fondo = "background-color: " + proyecto.Color1;
			i = 0;
		}

		string captura = "/imagenes/" + proyecto.Id + "/captura" + modulo.Captura + ".webp";

		<div style="@fondo; padding: 50px; display: flex; align-items: center; gap: 50px;">
			<div style="display: flex; align-items: center; width: 40%; margin-left: auto; margin-right: auto;">
				<a @onclick="(e => CargarImagen(e, captura))" target="_self" style="text-align: center;">
					<img src="@captura" class="expandir" style="width: 100%; border: 1px solid var(--colorEnlace);" />
				</a>
			</div>

			<div style="width: 100%;">
				<div style="font-size: 20px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String" + modulo.Texto1)</div>

				<div style="margin-top: 15px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String" + modulo.Texto2)</div>
			</div>
		</div>
	}
}

@if (string.IsNullOrEmpty(imagenAbierta) == false)
{
	<div style="height: 100%; width: 100%; left: 0; top: 0; overflow-x: auto; position: fixed; z-index: 10000; padding: 20px; backdrop-filter: blur(15px);">
		<button style="color: var(--colorTextoVisitado); background-color: transparent; border: 0px;" @onclick="(e => CerrarImagen(e))">
			<i class="fa-solid fa-xmark" style="font-size: 30px;"></i>
		</button>
		
		<img src="@imagenAbierta" style="width: 100%; height: 100%; margin-top: 20px;"/>
	</div>
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string id { get; set; }

	[Parameter]
	public bool intro { get; set; }

	[Parameter]
	public List<Modulos.Modulo> modulos { get; set; }

	private string imagenAbierta = string.Empty;

	SqlConnection conexion = new SqlConnection();

	private Proyecto proyecto = new Proyecto();
	private GithubBaseDatos github = new GithubBaseDatos();

	protected override void OnInitialized()
	{
		proyecto = global::Listados.Proyectos.DevolverProyecto(id);

		if (conexion.State != System.Data.ConnectionState.Open)
		{
			conexion = Herramientas.BaseDatos.Conectar();
		}

		using (conexion)
		{
			github = BaseDatos.Github.Buscar(conexion, proyecto.Github);
		}
	}

	private void CargarImagen(MouseEventArgs e, string nuevaImagen)
	{
		imagenAbierta = nuevaImagen;
	}

	private void CerrarImagen(MouseEventArgs e)
	{
		imagenAbierta = string.Empty;
	}
}