@using BaseDatos
@using Microsoft.AspNetCore.Components.Web;
@using Listados
@using Microsoft.Data.SqlClient

<div style="background-color: @proyecto.Color1; display: flex; align-items: center;">
	@if (string.IsNullOrEmpty(proyecto.Enlace) == false)
	{
		<a href="@proyecto.Enlace" target="_blank">
			<img src="/imagenes/@proyecto.Id/logo.webp" style="width: 140px; height: 140px; border: 1px solid var(--colorEnlace);" />
		</a>
	}
	else
	{
		<img src="/imagenes/@proyecto.Id/logo.webp" style="width: 140px; height: 140px;" />
	}

	<div style="padding: 20px 30px;">
		<div style="font-size: 22px;">@proyecto.Nombre</div>
		<div style="margin-top: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String1")</div>

		@if (string.IsNullOrEmpty(proyecto.Enlace) == false)
		{
			<div style="margin-top: 10px;"><a href="@proyecto.Enlace" target="_blank" style="text-decoration: none; ">@proyecto.Enlace</a></div>
		}
	</div>
</div>

<div style="background-color: @proyecto.Color2; padding: 30px 50px;">
	<a href="https://github.com/pepeizq/@proyecto.Github" target="_blank" style="text-decoration: none;">
		<div style="background-color: #24292e; color: var(--colorTexto); display: flex; align-items: center; padding: 20px 30px; border: 1px solid var(--colorEnlace);" class="expandir" title="@Herramientas.Idiomas.CogerCadena(idioma, "Github.String7")">
			<i class="fa-brands fa-github" style="font-size: 32px;"></i>

			<div style="padding-left: 30px;">
				<div>
					@Herramientas.Idiomas.CogerCadena(idioma, "Github.String1")
				</div>

				<div style="margin-top: 10px; display: flex; align-items: center;">
					@if (github.Estrellas == 0)
					{
						<i class="fa-solid fa-star"></i>

						<div style="padding-left: 10px;">
							@Herramientas.Idiomas.CogerCadena(idioma, "Github.String2")
						</div>
					}
					else
					{
						<i class="fa-solid fa-star"></i>

						<div style="padding-left: 10px; padding-right: 20px;">
							@if (github.Estrellas == 1)
							{
								@string.Format("{0} {1}", github.Estrellas, Herramientas.Idiomas.CogerCadena(idioma, "Github.String4"))
							}
							else
							{
								@string.Format("{0} {1}", github.Estrellas, Herramientas.Idiomas.CogerCadena(idioma, "Github.String3"))
							}
						</div>

						<i class="fa-solid fa-code-fork"></i>

						<div style="padding-left: 10px; padding-right: 20px;">
							@if (github.Forks == 1)
							{
								@string.Format("{0} {1}", github.Forks, Herramientas.Idiomas.CogerCadena(idioma, "Github.String6"))
							}
							else
							{
								@string.Format("{0} {1}", github.Forks, Herramientas.Idiomas.CogerCadena(idioma, "Github.String5"))
							}
						</div>
					}
				</div>
			</div>
		</div>
	</a>
</div>

<div style="background-color: @proyecto.Color1; padding: 50px;">
	<div>
		@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String2")
	</div>

	<div style="margin-top: 20px;">
		@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String3")
	</div>
</div>

<div style="background-color: @proyecto.Color2; padding: 50px; display: flex; align-items: center;">
	<div style="display: flex; align-items: center; width: 55%; padding-right: 50px;">
		<a href="/imagenes/@proyecto.Id/captura1.webp" target="_blank" style="margin-right: 20px;">
			<img src="/imagenes/@proyecto.Id/captura1.webp" class="expandir" style="width: 100%; border: 1px solid var(--colorEnlace);" />
		</a>

		<a href="/imagenes/@proyecto.Id/captura2.webp" target="_blank">
			<img src="/imagenes/@proyecto.Id/captura2.webp" class="expandir" style="width: 100%; border: 1px solid var(--colorEnlace);" />
		</a>
	</div>

	<div style="width: 55%;">
		<div style="font-size: 20px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String4")</div>

		<div style="margin-top: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String5")</div>
	</div>
</div>

<div style="background-color: @proyecto.Color1; padding: 50px; display: flex; align-items: center;">
	<div style="width: 45%;">
		<div style="font-size: 20px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String6")</div>

		<div style="margin-top: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, proyecto.Id + ".String7")</div>
	</div>

	<div style="display: flex; align-items: center; width: 55%; padding-left: 50px;">
		<a href="/imagenes/@proyecto.Id/captura3.webp" target="_blank" style="margin-right: 20px;">
			<img src="/imagenes/@proyecto.Id/captura3.webp" class="expandir" style="width: 100%; border: 1px solid var(--colorEnlace);" />
		</a>

		<a href="/imagenes/@proyecto.Id/captura4.webp" target="_blank">
			<img src="/imagenes/@proyecto.Id/captura4.webp" class="expandir" style="width: 100%; border: 1px solid var(--colorEnlace);" />
		</a>
	</div>
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private string id = "pepeizqdeals2";

	SqlConnection conexion = new SqlConnection();

	private Proyecto proyecto = new Proyecto();
	private GithubBaseDatos github = new GithubBaseDatos();

	protected override void OnInitialized()
	{
		proyecto = global::Listados.Proyectos.DevolverProyecto(id);

		if (conexion.State != System.Data.ConnectionState.Open)
		{
			conexion = Herramientas.BaseDatos.Conectar();
		}

		using (conexion)
		{
			github = BaseDatos.Github.Buscar(conexion, proyecto.Github);
		}
	}
}
