@page
@model PrivacyModel

@{
    ViewData["Title"] = Herramientas.Idiomas.BuscarTexto(Model.idioma, "Title", "Privacy");
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div style="background-color: var(--fondoEntrada); padding: 50px;">
    <div style="font-size: 22px;">
        @Herramientas.Idiomas.BuscarTexto(Model.idioma, "Title", "Privacy")
    </div>

    <hr />

    <div>@Herramientas.Idiomas.BuscarTexto(Model.idioma, "String1", "Privacy")</div>

    <ul style="margin-top: 20px;">
        <li>@Herramientas.Idiomas.BuscarTexto(Model.idioma, "String2", "Privacy")</li>
        <li style="margin-top: 10px;">@Herramientas.Idiomas.BuscarTexto(Model.idioma, "String3", "Privacy")</li>
        <li style="margin-top: 10px;">@Herramientas.Idiomas.BuscarTexto(Model.idioma, "String4", "Privacy")</li>
        <li style="margin-top: 10px;">@Herramientas.Idiomas.BuscarTexto(Model.idioma, "String5", "Privacy")</li>
    </ul>

    <div>@Herramientas.Idiomas.BuscarTexto(Model.idioma, "String6", "Privacy")</div>
</div>